*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/*
.idea/*
cropper/build/*
cropper/build
/cropper/build/*
/cropper/build/outputs/logs/manifest-merger-debug-report.txt